.testimonial{
    padding-top: rem(20);
    padding-bottom: rem(30);

    @include media-breakpoint-up(md){
        padding-bottom: rem(50);
    }

    @include media-breakpoint-up(xl) {
      padding-top: rem(40);
      padding-bottom: rem(110);
    }

    &__title{
        margin-bottom: rem(25);
        text-align: center;

        @include media-breakpoint-up(md){
            margin-bottom: rem(50);
        }

        h2{
            font-size: rem(35);
            line-height: line-height(35, 42);
            font-family: $font-bold;
            text-transform: uppercase;

            @include media-breakpoint-up(md){
                 font-size: rem(49);
                 line-height: line-height(49, 58);
            }
        }
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    &__item{
        width: calc(100%/3);
        padding: 0 rem(10);
        margin-bottom: rem(20);

        @include media-breakpoint-up(md){
            width: calc(100%/6);
            padding: 0 rem(20);
        }
    }
}
