.membership {

  h3 {
    font-size: rem(32);
    font-weight: 700;
    line-height: line-height(32, 32);
    letter-spacing: 1.14px;

    @include media-breakpoint-up(md) {
      font-size: rem(49);
      line-height: line-height(49, 49);
    }
  }

  &__info {
    padding: 0 rem(10);
    font-family: $font-light;
    font-size: rem(18);
    line-height: line-height(18, 24);
    letter-spacing: 1px;

    @include media-breakpoint-up(xl) {
      padding: 0;
      font-size: rem(20);
      line-height: line-height(20, 30);
    }
  }

  &__grid {
    padding-top: rem(30);
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, minmax(auto, 1fr));
      grid-column-gap: rem(30);
    }

    .homepage & {

      @include media-breakpoint-up(xl) {
        grid-column-gap: rem(15);
      }

      @include media-breakpoint-up(xsm) {
        grid-column-gap: rem(30);
      }
    }

    &-faq {
      grid-column: span 2;

      @include media-breakpoint-up(xl) {
        grid-column: auto;
        display: flex;
        align-items: center;
        padding-left: rem(15);
      }
    }

    .btn {
      font-size: rem(14);
      line-height: line-height(16, 50);
      font-family: $headline-font;
      letter-spacing: .2px;

      &.hide-lg {
        grid-column: span 2;
        margin-top: rem(30);

        @include media-breakpoint-up(xl) {
          display: none;
        }

        span {
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
