.quick-info{
  padding: rem(20) 0 rem(32);

  @include media-breakpoint-up(md){
    padding: rem(60) 0 rem(55);
  }

  @include media-breakpoint-up(xl){
    padding: rem(90) 0 rem(80);
  }

    &__wrapper{
          display: grid;
          grid-template-columns: repeat(2, minmax(auto, 1fr));
          grid-gap: rem(20);

          @include media-breakpoint-up(md){
          grid-template-columns: repeat(4, minmax(auto, 1fr));
          grid-column-gap: rem(20);

          }
    }

    &__item{
        text-align: center;

        .icon{
              height: rem(150);

              @include media-breakpoint-up(md){
                 height: rem(200);
              }
            &--pause{
                padding: rem(20) 0;
            }

             &--fit-guarantee{
                 padding: rem(20) 0;
            }

        }

    }

    &__img-wrapper{
       margin-bottom: rem(22);
       padding: 0 rem(6.75);
    }

    &__content{
        margin-top: rem(24);

        p{
            font-size: rem(13.3);
            line-height: line-height(13.3, 15);
            font-weight: 300;
            max-width: rem(85);
            margin: 0 auto;
            text-transform: uppercase;
            text-align: center;
            font-family: $headline-font;

            @include media-breakpoint-up(md){
                max-width: rem(400);
                font-size: rem(16);
                line-height: line-height(16, 18);
                font-weight: 400;
                letter-spacing: rem(0.213);

            }
        }
    }
}
