.sign-up{
    padding:rem(40) rem(22) rem(55);


    @include media-breakpoint-up(md){
        padding: rem(40) 0 rem(55);
    }

    &__title{
            text-align: center;
        h2{
            margin-bottom: rem(17);
            text-transform: uppercase;
            font-size: rem(35);
            line-height: line-height(35, 42);
            font-weight: 400;

            @include media-breakpoint-up(md){
                 font-size: rem(49);
                 line-height: line-height(49, 22);
            }
        }

          p{
            margin-bottom: rem(20);
            font-size: rem(18);
            line-height: line-height(18, 24);
            letter-spacing: rem(1);
            font-weight: 300;
            font-family: $font-light;

            @include media-breakpoint-up(md){
                font-size: rem(20);
                line-height: line-height(20, 30);

            }
        }
    }

    &__form{
        max-width: rem(560);
        margin: 0 auto;
        position: relative;

        .btn{
          text-transform: uppercase;
          height: rem(42);
          margin-top: rem(16);

          @include media-breakpoint-up(sm){
            margin-top: 0;
            width: rem(190);
            min-width: rem(190);
          }
        }


      .input-field__error-message{
          top: auto;
          bottom: rem(-81);

          @include media-breakpoint-up(sm){
            bottom: rem(-25);
          }
       }
    }

    &__form-wrapper{

        @include media-breakpoint-up(sm){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

        &__message-seccess{
            margin: rem(30) auto;
            color: $green;
            font-size: rem(15);
            line-height: line-height(15, 22);
            text-align: center;

            &.active{
                display: block;
            }
        }
        &__message-error{
            margin: rem(30) auto;
            color: $red;
            font-size: rem(15);
            line-height: line-height(15, 22);
            text-align: center;
        }
}
