html {
  //font-family: $regular-font;
  color: $body-color;
  background-color: $body-bg-color;
  min-height: 100vh;
  width: 100vw;

  &.loading {
    *,
    *:before,
    *:after {
      pointer-events: none !important;
    }
  }

  &.overflow-hidden{
    overflow: hidden;
  }
}

a{
  text-decoration: none;
}

body {

  &.active {
    position: fixed;
    overflow: hidden;
  }
}

main,
.main {
  min-height: calc(100vh - 500px);
  padding-top: rem(30);

  @include media-breakpoint-up(md) {
    padding-top: rem(110);
  }

  .homepage & {
    padding-top: 0;
  }
}

// RESPONSIVE
html {

  @include media-breakpoint-up(xxl) {
    font-size: 0.879vw;
  }
}
